*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 20px;
}
.main-content{
    
    background-color: #2a2a2a;
    border-end-end-radius: 1px solid #3a3a3a;
    border-radius: 16px;
}

/* PROFILE*/

.profile{
    text-align: center;
}
.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top:10px;
}

/* CONTACT */

.contact{
   margin-top:20px;
   border-top: 2px solid #3a3a3a;
   padding-top: 20px;
}
.em{
    font-weight: 700;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
      color: #e0e0e0;
      text-decoration: none;
}
.email,.phone{
    margin-bottom: 15px;
}
  
/* social */

.social{
    border-top: 2px solid #3a3a3a;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;

}
.media{
    height: 24px;
    width: 24px;
    margin-left: 7px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;  
}  
.media:hover{
    filter: grayscale(0) invert(0);
}
/* main content */
/* navigation bar */

#navigation{
    padding: 20px 30px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 1.2rem;   
    border-bottom: 2px solid #3a3a3a;
    padding: 20px;
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    
}
.umang{
    color: yellow;
}
nav a:hover{
   color: yellow;
}

/* about */

#about{
    padding: 20px 30px;
    color: #e0e0e0;
}
#me{
  font-size: 2rem;
  margin-bottom: 15px;
}
.line{
   width:60px;
   height:5px; 
   background-color: #FFBF00;
   margin-bottom:20px;
}
#skills{
     padding: 20px 30px;
    color: #e0e0e0;
}
#content{
    color:#a0a0a0;
    text-align: justify;
}
/* skills*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 40px;

}
.item{
    padding: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
    border: 2px solid #3a3a3a;
    box-shadow:3px 3px 5px  #2a3a3a;
    text-align:center;
    margin-top: 20px;
    transition: transform 0.3s ease;
}
.item img{
   height: 35px;
   width: 35px;
   filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(101%);
   transition: transform 0.3s ease, boxshadow 0.3s ease;
   margin-bottom: 15px;
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
   transform: scale(1.1);
   box-shadow: 0px 0px 10px #2a3a3a;
}

/* education */

#education{
    margin-top: 15px;
    padding: 20px 30px;
}
.edtech{
  position:relative;
  margin-top: 20px;
}
.edfirst,.edsecond{
    margin-bottom: 30px;
    padding-left: 20px;
    position: relative;
}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #bdbbbb;
    margin-bottom: 5px;
}
.work{
    color: #a0a0a0;;
}
.goal{
    height: 15px;
    width: 15px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 10;
}
.liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    margin: 6px;
    
    border: 2px solid #3a3a3a;
}

@media screen and (max-width:1200px){
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .sidebar{
        position: static;
        height: auto;
    }
}